body {
    font-family: Arial;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

.row {
    display: flex;
    gap: 10px;
    align-items: center;
}

#swapBtn {
    width: 50px;
    cursor: pointer;
}

button {
    background: #4e73df;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2e59d9;
}

@media (max-width: 400px) {
    .box {
        width: 90%;
    }
}
